$color-light-background: rgb(253, 243, 227, 0.8);
$color-darker-background: rgba(252, 235, 207, 0.8);
$color-even-darker-background: rgba(168, 145, 109, 0.8);
$border-radius: 0.5em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asap', sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('../imgs/gilles-lookSide3.jpg');
  background-size: cover;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hidden {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
