.card {
  width: 60%; // 60%
  height: 90%; //90%
  margin: 2em 0 3em 0;
  background-color: $color-light-background;
  padding: 4em; //4em
  border-radius: $border-radius;
  overflow: auto;
  z-index: 2;
  transform: scaleY(0);

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn-card_close {
  border: none;
  align-self: flex-end;
  top: 4%;
  right: 3%;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
}

.contact {
  margin: 1em;
}
