.container-right {
  width: 30%;
  height: 100%;
  border-radius: $border-radius;
  z-index: 2;
}

.card_content_right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
