.container-center {
  height: 80%;
  width: 60%;
  background-color: $color-light-background;
  margin: 2em 0 3em 0;
  border-radius: $border-radius;
  padding: 4em;
  overflow: auto;
}

.articles {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.article {
  height: auto;
  padding: 1em 0;
  display: flex;
  align-items: flex-start;

  &_img {
    width: 20%;
  }

  &_description {
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-border {
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_buttons {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.youtube {
  margin-top: 1em;
}

.btn_open {
  background: none;
  border: 1px solid black;
  padding: 1em 1.5em;
  border-radius: $border-radius;
  margin-top: 1em;
  cursor: pointer;

  &:hover {
    background-color: rgb(56, 54, 54);
    color: $color-light-background;
  }

  &:active {
    background-color: rgb(14, 13, 13);
  }
}
