.container-right {
  width: 30%;
  height: 100%;
  border-radius: $border-radius;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.btn_open-spotify,
.btn_open-youtube {
  background: none;
  border: 1px solid black;
  padding: 1em 1.5em;
  border-radius: $border-radius;
  margin-top: 1em;
  cursor: pointer;

  &:hover {
    background-color: rgb(56, 54, 54);
    color: $color-light-background;
  }

  &:active {
    background-color: rgb(14, 13, 13);
  }
}

.btn_close-spotify {
  background: $color-light-background;
  border: none;
  padding: 1em 1.5em;
  float: right;
  margin: 0.25em;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $color-darker-background;
  }

  &:active {
    background-color: $color-even-darker-background;
  }
}
